/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.cl {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cl:hover,
.cl:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  background: #EDF7FA;
}

.card {
  position: relative;
  top: 20vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.75em;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card:nth-child(even) {
  margin: 0 1em;
}

.card-top {
  background: #B2DCE5;
  padding: 3em;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}
.card-top .card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 12em;
  width: auto;
}
.card-top .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 17.75em;
  width: 100%;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  z-index: 10;
  background: rgba(0, 0, 0, 0.55);
  overflow: hidden;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  opacity: 0;
}
.card-top .overlay h1 {
  text-align: center;
  font-weight: 500;
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.card-top .overlay:hover, .card-top .overlay:focus {
  opacity: 1;
}

.triangle {
  position: relative;
  height: 0;
  width: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1.5em solid #B2DCE5;
  margin: 0 auto -1.75em auto;
  top: -.25em;
  z-index: 20;
}

.card-middle {
  display: none;
  background: #efefef;
  padding: 2em 1em 1em 1em;
}
.card-middle .more {
  font-family: Open Sans;
  font-weight: 400;
}

.card-bottom {
  background: #f7f7f7;
  padding: 1.75em 1em 1em 1em;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}
.card-bottom .card-title {
  font-weight: 100;
}

.circle-button {
  position: absolute;
  bottom: 0;
  right: 3.5em;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: #fff;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
  outline: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.circle-button .close {
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
.circle-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
}

.closeRotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* body, h1, h2, h3, h4, h5, h6, p {
  font-family: Work Sans;
} */
.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
}
body{
  padding:0;
  margin:80px 0 0 0;
  font-family:Merriweather;
  background:#f0e8d5;
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
.inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
.inner a:hover{border-color:#fff;}
.black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
.black .inner a:hover{border-color:#000;}
/*
.owl-carousel:after{content:""; display:block; position:absolute; width:8%; top:0; bottom:0; left:50%; margin-left:-4%; pointer-events: none; background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/aett_logo_slider.png) no-repeat center 50%; background-size:100% auto;
} */

.owl-controls{position:absolute; margin-top:50px;margin-left:44%;}
.owl-prev{float: left; padding-right: 30px;}
.owl-next{float: right;padding-left: 30px;}
@media only screen and (max-width: 600px) {
  .owl-controls{position:absolute; margin-top:50px;margin-left:34%;}
.hi{
  display: none;
}
}
